.container-table {
  padding: 10px 20px;
}
.container {
  padding: 10px 20px;
  margin-bottom: 40px;
}
.titre-tableau {
  font-size: 18px;
  font-weight: 600;
  color: #00589f;
  margin-top: 0;
  margin-bottom: 10px;
}
table {
  font-size: 14px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
  border-collapse: collapse;
  font-size: 12px;
}

thead tr {
  background-color: #00589f;
  color: white;
}

thead tr th {
  text-align: center;
}

th,
td {
  border: 1px solid #8686867c;
  padding: 4px;
  text-align: left;
}

table thead tr th {
  font-weight: 100;
}

.td-number {
  text-align: end;
}

.t-center th,
.t-center {
  text-align: center;
}

tbody tr:hover,
.selected-row {
  background-color: rgba(109, 109, 255, 0.5);
}

tbody tr td {
  color: #2c2c2c;
}

.select-search-input {
  color: #2c2c2c !important;
  background-color: white !important;
  padding: 4px !important;
  font-size: 12px !important;
  height: 24px !important;
  border-radius: 2px !important;
  border: none !important;
  border-bottom: 1px solid #00589f !important;
  outline: none !important;
}

.form-group select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.select-search-select {
  /* position: absolute !important; */
  top: 25px !important;
  max-height: 65px !important;
  background: white !important;
  border: 1px solid #2c2c2c !important;
}

.select-search-row button {
  color: #8a8a8a !important;
}

.select-search-row:hover {
  background-color: #999999 !important;
}

.select-search-options {
  padding: 0;
  margin: 0;
}

.select-search-row button {
  color: #2c2c2c !important;
  width: 100% !important;
}

.select-search-is-highlighted,
.select-search-option:not(.select-search-is-selected):hover {
  background: #8a8a8a !important;
}

.select-search-is-selected {
  font-weight: initial !important;
}

.select-search-option {
  height: auto !important;
  width: auto !important;
  /* color: white!important; */
  font-size: 12px !important;
}

.select-search-container {
  --select-search-background: white !important;
}

.select-search-wrapper {
  /* margin-bottom: 10px !important; */
}
