@font-face {
  font-family: roboto;
  src: url("./Assets/Roboto-Regular.ttf");
}

body {
  margin: 0;
  font-family: roboto;
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
